/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  *{
    margin:0;
    padding:0;
  }

  body{
    font-family: sans-serif;
  }
/*haut de page fixe */
nav{
  position: fixed;
  background-color: #f56b2a;
  display: block;
  width: 100%;
  top: 0;
  font-weight: bold;
}

nav img{
  width : 180px;
  margin-left: 100px;
  margin-top: 0px;
}
nav .menu{
  display: none;
}


nav a{
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 60px;
  margin-left: 5px;
  font-weight: normal;
}

nav .connection{
  font-size: 11px;
  margin-left: 100px;
  padding: 0px 0px 0px 0px;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  height : 60%;
  display: inline-block;
}

nav a:link{
text-decoration:none;
}

nav a:hover{
  text-decoration: underline;
}

nav .connection:hover{
  background-color: white;
  transition:0.3s ease 0s;
}

nav .connection a{
  padding: 30px 30px 30px 40px;
}

nav .connection a:hover{
  text-decoration: none;
  color: #f56b2a;
}

.all{
  display: inline-flex;
}

/*Gauche de la Page*/

.PG{
  width : 470px;
}

.PG h3{
  color: black;
  font-size: 13px;
  margin-left: 100px;
  margin-top: 90px;
  line-height: 25px;
}

.PG span{
  color : #f56b2a;
}


.PG a{
  margin-left: 100px;
  width: 300px;
  color: absolute;
}

.sendButton, .sendButton2{
  width:100%;
  height:40px;
  background-color:rgba(65, 131, 215, 1);
  border-radius: 5px;
  display:flex;
  align-items:center;
  text-decoration: none;
  justify-content:center;
  transition:0.5s ease 0s;
  margin:15px;
  font-size: 14px;
}

.sendButton{
    color:white;
}
.sendButton2{
  color:#4183d7;
  border:1px solid #4183d7;
  background-color:rgba(65, 131, 215, 0);
}

.sendButton:hover{
  opacity:0.8;
  text-decoration: none;
}

.sendButton2:hover{
  text-decoration:none;
  background-color:rgba(65, 131, 215, 0.2);
}
/*img france*/

.carte{
  width : 490px;
  margin-left: 5px;
  margin-top: 80px;
}

.carte img{
  width : 450px;
}

.carte select{
  display: none;
}

/*Droite de la page*/

.PD{
  flex-direction: column;
  margin-right: 5px;
  color : blue;
  margin-left: 9px;
  font-size: 14px;
  margin-top: 80px;
}

.PD .region a{
  display: block;
  text-align: right;
  text-decoration: none;
  color: #3373ae;
}

.PD .region a:hover{
  color: #f56b2a;
  transition:0.5s ease 0s;
}

/*information*/

.info{
  width: 90%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 70px;
}

.info a{
  text-decoration: none;
  color: #3373ae;
}

/*listing*/

.listing{
  background-color: #f2f2f2;
  list-style-type:none;
  padding: 15px 0px 15px 0px;
  display: flex;
  justify-content: space-around;
}

.L1, .L2, .L3, .L4{
  width : 24%;
}

.L1{
  margin-left: 110px;
}

.L4{
  margin-right: 110px;
}
.listing .topl{
  text-transform: uppercase;
  font-size: 12px;
  border-bottom: 1px solid #d1d1d1;
  padding-right: 150px;
  line-height: 30px;
}

.listing a{
  text-decoration: none;
  color:#3373ae;
  font-size: 12px;
  line-height: 15px;
  text-align: justify;
}

.listing a:hover{
  text-decoration: underline;
}

/*Les infos*/

.information{
  background-color: #474747;
  list-style-type:none;
  padding: 15px 0px 15px 0px;
  display: flex;
  justify-content: space-around;
  color : white;
}

.L5, .legales, .professionnels, .L6{
  width : 24%;
}

.information h1{
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: 1px solid #666666;
  padding-right: 90px;
  line-height: 30px;
}

.information li a{
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.information li a:hover{
  text-decoration: underline;
}

.information img{
  width : 100px;
}

.L5{
  margin-left: 110px;
}

.L6{
  margin-right: 110px;
}

/*partenaires*/

.partenaires{
  text-align: center;
  font-size: 13px;
  color: white;
  background-color: #474747;
  padding: 12px 0px 12px 0px;
  border: 1px solid #666666;
  border-left: none;
  border-right: none;
}

.partenaires a{
  color: white;
  text-decoration: none;
}

.partenaires a:hover{
  text-decoration: underline;
}

/*footer*/

footer {
  background-color: #474747;
  color: white;
  font-size: 13px;
  justify-content: space-around;
  display: flex;
}

footer p{
  width : 15%;
  text-align: left;
  margin-left: 20px;
  padding: 10px 0px 20px 0px;
}

footer img{
  width : 30px;
  border-radius: 5px;
}

footer .G{
  width : 20%;
  margin: 0px 0px 0px 400px;
  padding: 5px 0px 20px 0px;
}

/*PAGE: OFFRE*/

.quecherchezvous{
  background-color: #e6e6e6;
  font-size: 13px;
  font-family: sans-serif;
  margin-top: 60px;
  border : 1px solid lightgrey;
}

.recherche input{
  margin: 20px 0px 0px 110px;
  width : 39%;
  height: 35px;
  background-color: white;
  border : 1px solid lightgrey;
  border-radius: 4px;
}

.recherche select{
  margin: 19px 0px 0px 10px;
  width : 18%;
  height: 38px;
  background-color: white;
  border : 1px solid lightgrey;
  border-radius: 4px;
}

.quecherchezvous .recherche .sendButton{
  width:18%;
  height:40px;
  background-color:rgba(65, 131, 215, 1);
  border-radius: 5px;
  display: inline-flex;
  align-items:center;
  text-decoration: none;
  justify-content:center;
  transition:0.5s ease 0s;
  font-size: 14px;
  margin: 15px 0px 0px 10px;
}

.locainput{
  display: inline-block;
}
.localisation .locainput{
  margin: 10px 20px 20px 110px;
  width : 20%;
}

.localisation .locainput ul li{
list-style-type:none;
}

.localisation .locainput ul li span{
 color : #f56b2a;
}

.locabox{
  width : 50%;
  display: inline-block;
}

.locabox select{
  margin: 0px 0px 0px 10px;
  width : 33%;
  height: 40px;
  background-color: white;
  border : 1px solid lightgrey;
  border-radius: 4px;
}

.locabox input{
  margin: 20px 0px 0px 10px;
  width : 36%;
  height: 35px;
  background-color: white;
  border : 1px solid lightgrey;
  border-radius: 4px;
}

/*entredeux*/

.entredeux h2{
  margin: 20px 0px 10px 110px;
  font-size: 17px;
  color: grey;
}

/*Les articles*/

.article{
  width : 70%;
}

.articleselection{
  display: flex;
}
.article .selectiontype{
  margin : 15px 50px 10px 110px;
  font-size: 13px;
  width : 90%;
  display: flex;
}

.article  .selectiontype .select1{
  border : 1px solid lightgrey;
  border-bottom: none;
  width : 30%;
  padding: 15px 10px 10px 10px;
  text-align: center;
}

.article  .selectiontype .select2{
  border : 1px solid lightgrey;
  background-color: #e6e6e6;
  width : 30%;
  padding: 15px 10px 10px 10px;
  text-align: center;

}

.article  .select3{
  border : 1px solid lightgrey;
  background-color: #e6e6e6;
  width : 30%;
  padding: 15px 10px 2px 10px;
  text-align: center;

}

.article .selectiontype a{
  text-decoration: none;
  color: black;
  list-style-type:none;
}

.selectionselect{
  width : 30%;
  margin-top: 10px;
  display: inline-block;
}

.selectionselect select{
    margin: 5px 0px 0px 10px;
    width: 100%;
    height: 45px;
    background-color: white;
    border: 1px solid #336699;
    border-radius: 4px;
    font-size: 13px;
    color: #336699;
}

.articlebox{
  width: 89%;
  margin-top: -10px;
  margin-left: 110px;
  border : 1px solid lightgrey;
  list-style-type: none;
}

.articlebox h3{
  color:#f56b2a;
}
.articlebox .A1 {
  text-decoration: none;
  display: inline-flex;
  border : 1px solid lightgrey;
  border-bottom: none;
  border-top: none;
}

.articlebox .A1 img{
  width : 30%;
  margin : 10px 20px 10px 20px;
}

.articlebox .A1  .titre{
  margin : 20px 50px 50px 20px;
  font-size: 18px;
  color : #336699;
  width : 20%;
}

.articlebox .A2  .titre{
  font-size: 18px;
  color : #336699;
  position: absolute;
  margin : 10px 20px 10px 300px;

}
.articlebox .A3  .titre{
  margin : 20px 50px 20px 20px;
  font-size: 18px;
  color : #336699;
  width : 20%;;
}

.articlebox .A1 .titre{
  position: absolute;
  margin : 10px 20px 10px 300px;
}

.articlebox .A1 ul{
  list-style-type: none;
  height: 10%;
  margin : 85px 10px 10px 20px;
}

.articlebox .A2 ul{
  list-style-type: none;
  height: 10%;
  margin : 70px 10px 10px 20px;
}

.articlebox .A3 ul{
  list-style-type: none;
  position: absolute;
  height: 10%;
  margin : 70px 0px 10px 300px;
}

.articlebox p{
  margin-top: 200px;
  margin-left: 250px;
  font-size: 12px;
  width : 20%;
}

.articlebox .A2 p{
  margin-top: 150px;
  margin-left: 250px;
  font-size: 12px;
  width : 20%;
}
.articlebox .A3 p{
  margin-top: 150px;
  margin-left: 40px;
  font-size: 12px;
  width : 20%;
}


.articlebox .A2 {
  text-decoration: none;
  display: inline-flex;
  border : 1px solid lightgrey;
  border-bottom: none;
}

.articlebox .A2 img{
  width : 30%;
  margin : 10px 20px 10px 20px;
}

.articlebox .A3{
  text-decoration: none;
  display: inline-flex;
  border : 1px solid lightgrey;
}

.articlebox .A3 img{
  width : 30%;
  margin : 10px 20px 10px 20px;
}

.A1:hover{
  background-color: #e6e6e6;
  transition:0.4s ease 0s;
}

.A2:hover{
  background-color: #e6e6e6;
  transition:0.4s ease 0s;
}

.A3:hover{
  background-color: #e6e6e6;
  transition:0.4s ease 0s;
}

.nbrepages{
  list-style-type: none;
  margin: 10px 0px 10px 0px;
  font-size: 13px;
  word-spacing: 15px;
  text-align: center;
}

.nbrepages a{
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  color: #336699;
}

.nbrepages a:hover{
  text-decoration: underline;
  color: blue;
  background-color: #f2f2f2;
  border-radius: 3px;
}

/* page contact*/

.main-annonce{
  width:85%;
  height:auto;
  display:block;
  margin:auto;
  margin-top:75px;
}
.main-annonce h1{
  font-size:1.2em;
  color:#989898;
  border-bottom:1px solid #ccc;
  font-weight:600;
  margin-bottom:40px;
}
.votre_annonce{
  border-bottom:1px solid #ccc;
}
.main-annonce h2{
  width:99%;
  color:white;
  background-color:#666;
  font-size:1em;
  font-weight:400;
  line-height:1.5;
  padding:10px 0 10px 10px;
  border-bottom:1px solid #ccc;
}
.left_annonce, .right_annonce{
  height:auto;
}
.left_annonce{
  border-left:1px solid #ccc;
  padding:5px;
  padding-left:15px;
}

.category select{
  margin: 20px 0px 0px 10px;
  width : 39%;
  height: 35px;
  background-color: white;
  border : 1px solid lightgrey;
  border-radius: 4px;
}
.main-annonce h3{
  margin-top: 10px;
  font-size:0.9em;
}
.left_annonce input[type="checkbox"]{
  vertical-align: bottom;
  position: relative;
  top: -1px;
}
.law{
  background-color: #ffeebf;
}
.law p{
  padding:10px;
}
.left_annonce select{
  width:90%;
  height:45px;
}
.title_annonce input{
  width:90%;
  height:25px;
  padding-left:10px;
}
.text_annonce input{
  width:90%;
  height:200px;
  padding-left:10px;
}
.price_annonce input{
  width:50%;
  height:25px;
  padding-left:10px;
}
.photos{
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
}
.photos img{
  padding:10px;
}
.semi_annonce{
  display:flex;
  margin-top:-14px;
}
.right_annonce{
  border-right:1px solid #ccc;
}

.semi_loca{
  display:flex;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
  border-left:1px solid #ccc;
  margin-top:-14px;
  padding:10px;
}
.left_loca, .right_loca{
  height:auto;
}
.left_loca{
  padding:5px;
  padding-left:15px;
}
.ville input{
  width:90%;
  height:25px;
  padding-left:10px;
}
.adresse input[type="text"]{
  width:60%;
  height:25px;
  padding-left:10px;
}
.adresse input[type="button"]{
  width:29%;
  padding:6px;
}
.info_adresse{
  background-color: #d9e6f7;
}
.info_adresse p{
  padding:10px;
}

.right_loca img{
  display:block;
  margin:auto;
  padding:5px;
  margin-top: 5px;
}
.infos{
  width:100%;
  height:auto;
  border-bottom:1px solid #ccc;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
}
.main-infos{
  width:100%;
  padding-left:10px;
}
.main-infos input{
  height:25px;
}
.infos input[type="checkbox"]{
  vertical-align: bottom;
  position: relative;
  top: -1px;

}
.checkit ul{
  position:relative;
  list-style-type: none;
  margin-left : 10px;
}
.checkit li{
  line-height:25px;
}
.obligatoire{
  text-align:right;
}
.button_send{
  background-color: #4c94ef;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  height:40px;
  width : 200px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-decoration: none;
}
.footer_annonce{
  width:100%;
  height:60px;
  padding-left: 9.5%;
  margin-left: -9%;
  padding-right: 8.3%;
  background-color:#474747;
  color:white;
  margin-top:30px;
  display:flex;
  align-items:left;
  text-align: left;
}

.footer_annonce p{
  padding-left: 50px;
}

/* ====================
======================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 35em) {
    /* Style adjustments for viewports that meet the condition */

  nav a{
    display: none;
  }

  nav{
    height : 70px;
  }

  nav .logo{
   margin-left: 70px;
   display: flex;
  }
  nav .menu{
    display: flex;
    position: relative;
    width : 14%;
    height : 50%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    vertical-align: middle;
    margin: -45px 0px 20px 20px;
    background-color: white;
    color: #f56b2a;
    border-radius: 5px;
    text-align: center;
  }

  nav a:link{
    text-decoration: none;
  }

  nav a:hover{
    color: #4183d7;
    background-color:#9aebfe ;
    transition:0.3s ease 0s;
  }

  .PD, .listing, .information{
    display: none;
  }

  .partenaires{
    display: none;
  }

  .PG{
    width : 60%;
  }
  .PG h3{
     margin-left: 10px;
     text-align: center;
     width : 65%;
     font-size: 12px;
  }

  .PG a{
     margin-left: 10px;
     margin-bottom: 20px;
  }

  .carte img{
    width : 300px;
    justify-content: center;
    margin: 200px 0px 10px -400px;
  }

  .carte select{
    display: flex;
    width : 70%;
    height : 10%;
    padding-left: 5px;
    margin: 10px 0px 0px -400px;
    color :black;
    font-size: 20px;
  }

  .info{
    margin-left: 2s5px;
    text-align: center;
    width : 85%;
    font-size: 12px;
  }

  footer{
    width : 110%;
  }

  footer p{
    margin-left : -180px;
  }

  footer .G{
    display: none;
  }

  .photos{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
  }
  .photos img{
    width : 110px;
    padding:10px;
  }
  .right_loca img{
    display: none;
  }

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
