/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  *{
    margin:0;
    padding:0;
  }

  body{
    font-family: sans-serif;
  }
/*haut de page fixe */
nav{
  position: fixed;
  background-color: #f56b2a;
  display: block;
  width: 100%;
  top: 0;
}

nav img{
  width : 180px;
  margin-left: 100px;
  margin-top: 0px;
}

nav a{
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 60px;
  margin-left: 20px;
  font-weight: normal;
}

nav .connection{
  font-size: 11px;
  margin-left: 90px;
  padding: 0px 20px 0px 20px;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  height : 60%;
  display: inline-block;
}

nav a:link{
text-decoration:none;
}

.all{
  display: inline-flex;
}

/*Gauche de la Page*/

.PG{
  width : 470px;
}

.PG h3{
  color: black;
  font-size: 13px;
  margin-left: 100px;
  margin-top: 90px;
  line-height: 25px;
}

.PG span{
  color : #f56b2a;
}


.PG a{
  margin-left: 100px;
  width: 300px;
  color: absolute;
}

.sendButton, .sendButton2{
  width:100%;
  height:40px;
  background-color:rgba(65, 131, 215, 1);
  border-radius: 5px;
  display:flex;
  align-items:center;
  text-decoration: none;
  justify-content:center;
  transition:0.5s ease 0s;
  margin:15px;
  font-size: 14px;
}

.sendButton{
    color:white;
}
.sendButton2{
  color:#4183d7;
  border:1px solid #4183d7;
  background-color:rgba(65, 131, 215, 0);
}

.sendButton:hover{
  opacity:0.8;
  text-decoration: none;
}

.sendButton2:hover{
  text-decoration:none;
  background-color:rgba(65, 131, 215, 0.2);
}
/*img france*/

.carte{
  width : 490px;
  margin-left: 5px;
  margin-top: 80px;
}

.carte img{
  width : 450px;
}

/*Droite de la page*/

.PD{
  flex-direction: column;
  margin-right: 5px;
  color : blue;
  margin-left: 9px;
  font-size: 14px;
  margin-top: 80px;
}

.PD .region a{
  display: block;
  text-align: right;
  text-decoration: none;
  color: #3373ae;
}

.PD .region a:hover{
  color: #f56b2a;
  transition:0.5s ease 0s;
}

/*information*/

.info{
  width: 90%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 70px;
}

.info a{
  text-decoration: none;
  color: #3373ae;
}

/*listing*/

.listing{
  background-color: #f2f2f2;
  list-style-type:none;
  padding: 15px 0px 15px 0px;
  display: flex;
  justify-content: space-around;
}

.L1, .L2, .L3, .L4{
  width : 24%;
}

.L1{
  margin-left: 110px;
}

.L4{
  margin-right: 110px;
}
.listing .topl{
  text-transform: uppercase;
  font-size: 12px;
  border-bottom: 1px solid #d1d1d1;
  padding-right: 150px;
  line-height: 30px;
}

.listing a{
  text-decoration: none;
  color:#3373ae;
  font-size: 12px;
  line-height: 15px;
  text-align: justify;
}

.listing a:hover{
  text-decoration: underline;
}

/*Les infos*/

.information{
  background-color: #474747;
  list-style-type:none;
  padding: 15px 0px 15px 0px;
  display: flex;
  justify-content: space-around;
  color : white;
}

.L5, .legales, .professionnels, .L6{
  width : 24%;
}

.information h1{
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: 1px solid #666666;
  padding-right: 90px;
  line-height: 30px;
}

.information li a{
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.information li a:hover{
  text-decoration: underline;
}

.information img{
  width : 100px;
}

.L5{
  margin-left: 110px;
}

.L6{
  margin-right: 110px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
